
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@mixin varBebas($param){
  color: $param;
  background-color: yellowgreen;
}

@mixin list-check($bgParam,$borderParam){
.list-check{
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      background: $bgParam;
      padding: 0.75rem 0.75rem 0.75rem 2.75rem;
      border-radius: 0.5rem;
      border: $borderParam;
      // 2px solid rgba(0, 0, 0, 0.125);
      position: relative;
      margin-bottom: 12px;
      font-weight: 500;
      // &::before {
    //     //   content: '';
    //     //   display: block;
    //     //   width: 20px px;
    //     //   height: 20px;
    //     //   background: url(https://www.shipbob.com/wp-content/themes/ShipBob/assets/svg/check.svg)
    //     //     no-repeat center;
    //     //   background-size: 20px;
    //     //   border-radius: 50%;
    //     //   position: absolute;
    //     //   top: calc(50% - 10px);
    //     //   left: 0.75rem;
    //     // }
    }
  }
}
.text-primary-light{
  color: #6f2fab
}

.full-radius{
  border-radius:5rem;
}


* {
  box-sizing: border-box;
}


body {
  a,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  button {
  font-family: "DM sans",system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}

.lead{
  font-size: 1.2rem;
  font-weight: 300;
}
  .white-theme{
  // margin: 0 auto;
  // background: #E3E2DD;
  color: black;
  }
  .dark-theme{
    background: rgb(34, 34, 34);
    color: #E3E2DD;
  }
  height: 100%;



}
